<html>

<head>
	<title>Welcome!</title>
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<link rel="stylesheet" href="stylesheet.css" type="text/css">
</head>

<body class="container text-center">

	<h1>ROAST-etta Stone</h1>
	<h3>Learn a New Language While Roasting your Friends</h3>
	<form method = "post" action="/jokes">
		<p>Pick a savage level.</p>
		<input type="radio" id="mild" name="spiciness" value="mild">
		<label for="mild">Mild</label><br>
		<input type="radio" id="medium" name="spiciness" value="medium">
		<label for="medium">Medium</label><br>
		<input type="radio" id="spicy" name="spiciness" value="spicy">
        <label for="spicy">Spicy</label><br>
		<input type="submit" value="Submit"/>
</body>

</html>